---
import MainLayout from "@/layouts/MainLayout.astro";
import CardInsight from "@components/ui/cards/CardInsight.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

const englishInsightsEntries = await getCollection("insights", ({ id }) => {
  return id.startsWith("en/");
});

const insightPosts: CollectionEntry<"insights">[] = englishInsightsEntries;

const pageTitle: string = `Insights | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <section class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full">
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1 class="block text-4xl font-bold tracking-tight text-balance text-neutral-800 md:text-5xl lg:text-6xl dark:text-neutral-200">
        Insights
      </h1>
      <p class="mt-4 text-lg text-pretty text-neutral-600 dark:text-neutral-400">
        Articles, updates, and inspiration from StillCraft Events.
      </p>
    </div>
  </section>

  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {insightPosts.map((insightEntry) => (
        <CardInsight insightEntry={insightEntry} />
      ))}
    </div>
  </section>
</MainLayout>
